.app_Layout {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 5rem;
  position: fixed;
  background-color: #e5e5e5;
  width: 100%;
  padding: 2rem;
}
.app_Layout .app_sidebar {
  position: fixed;
  height: 100%;
  z-index: 2;
}

@media screen and (max-width: 989px) {
  .app_Layout {
    gap: 3rem;
  }
}
@media screen and (max-width: 650px) {
  .app_Layout {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding: 0px;
    gap: 0px;
  }
}
