/* ==================== Friend List Section ==================== */
.friend_List_section {
  top: 0;
  height: 100vh;
  width: fit-content;
  flex: 1;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 2.8rem;
  border-radius: 10px;
  padding-right: 1rem;
}
.friend_List_section h1 {
  padding: 1rem;
  margin-top: 0rem;
  position: fixed;
  z-index: 1;
  color: #fff;
  background-color: #6e00ff;
  width: 26rem;
  border-radius: 10px;
}
.friend_List_section ul .btn-remove {
  background-color: #6e00ff;
  height: 3rem;
  width: 6rem;
  font-weight: 600;
}

/* ==================== Form Styles ==================== */
.form_p {
  display: flex;
  flex-direction: column-reverse;
  margin-left: -2rem;
  position: relative;
  top: 7rem;
}
.form_p ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 5px;
  transition: 300ms ease;
  margin-bottom: 2rem;
  width: 25rem;
}
.form_p li:hover {
  background-color: #a0b4eb;
  border-radius: 10px;
  cursor: pointer;
}
.form_p p {
  text-align: center;
  color: #555;
  font-size: 3rem;
  padding: 0 3rem;
}

/* ==================== Friend Image Styles ==================== */
.friend_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: #555;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.friend_img img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

/* ==================== Add Form Styles ==================== */
.add_form {
  background-color: #6e00ff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  position: fixed;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 50%;
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  transition: 300ms ease;
  z-index: 2;
}
.add_form button {
  width: 100%;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 1.3rem;
  color: #6e00ff;
  background-color: #fff;
  cursor: pointer;
  pointer-events: all;
  position: relative;
}
.add_form label {
  font-weight: 600;
  font-size: 1.4rem;
}
.add_form .avata_img {
  cursor: not-allowed;
}
.add_btn {
  left: 30%;
  bottom: 0;
  position: fixed;
  font-weight: 600;
  margin-bottom: 3rem;
  background-color: #6e00ff;
  color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

/* ==================== Responsive Styles ==================== */
@media screen and (max-width: 900px) {
  .btn-remove {
    display: none;
  }
  .friend_List_section h1 {
    width: 73%;
  }
  .friend_List_section {
    width: 90%;
  }
}
@media screen and (max-width: 850px) {
  .add_form {
    width: 80vw;
    height: 50vh;
    top: 45%;
  }
  .add_form button {
    cursor: pointer;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 2rem;
  }
  .add_form input {
    font-size: 2rem;
  }
  .add_btn {
    left: 80%;
    margin-bottom: 9rem;
    border-radius: 10px;
  }
  .friend_List_section h1 {
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  .add_btn {
    left: 80%;
  }
  .btn-remove {
    display: block;
  }
  .friend_List_section {
    width: 95%;
    margin: 0px;
    box-shadow: none;
  }
  .friend_List_section h1 {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
  }
  .form_p ul li {
    width: 96%;
  }
}
