.friend_List_section h1 {
  padding-left: 1rem;
  height: 5rem;
  background-color: #4169d7;
  margin-top: 1.02rem;
  color: #fff;
}
.friend_List_section {
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
}
.form_p ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 5px;
  transition: 300ms ease;
  margin-bottom: 2rem;
  width: 25rem;
}
.form_p li:hover {
  background-color: #a0b4eb;
  border-radius: 10px;
  cursor: pointer;
}
.form_p {
  display: flex;
  flex-direction: column-reverse;
  margin-left: -2rem;
}
.friend_List_section ul .btn-remove {
  background-color: #4490e7;
  height: 3rem;
  width: 6rem;
  font-weight: 600;
}
.friend_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: #555;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.friend_img img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

/*  =============== ADD FORM=======*/
.add_form {
  background-color: #4490e7;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  position: fixed;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 50%;
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  transition: 300ms ease;
}
.add_form button {
  width: 100%;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: #fff;
  color: #4490e7;
  cursor: pointer;
  pointer-events: all;
  position: relative;
}
.add_form label {
  font-weight: 600;
  font-size: 1.4rem;
}
.add_form .avata_img {
  cursor: not-allowed;
}
.add_btn {
  left: 20%;
  bottom: 0;
  position: fixed;
  font-weight: 600;
  margin-bottom: 3rem;
  background-color: #4169d7;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.form_p p {
  text-align: center;
  color: #cccccc;
  font-size: 5rem;
}
@media screen and (max-width: 900px) {
  .btn-remove {
    display: none;
  }
  .friend_List_section h1 {
    margin-top: 6px;
  }
}
@media screen and (max-width: 850px) {
  .add_form {
    width: 80vw;
    height: 50vh;
  }
  .add_form button {
    cursor: pointer;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 2rem;
    background-color: #fff;
    color: #4490e7;
  }
  .add_form input {
    font-size: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .add_btn {
    left: 80%;
  }
  .btn-remove {
    display: block;
  }
  .friend_List_section h1 {
    background-color: #fff;
    color: #4169d7;
    margin-top: 3rem;
  }
}
