.single_chat {
  display: grid;
  grid-template-columns: 30rem 1fr;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.single_chat .left_chat {
  width: auto;
}
.single_chat .right-chat {
  width: 800px;
  flex: 1;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat_text_area {
  bottom: 0;
  position: fixed;
  display: flex;
  gap: 1rem;
  width: 75%;
  margin-bottom: 0.5rem;
  z-index: 2;
  padding: 0 2rem;
  width: 600px;
}

.chat_text_area input {
  width: 100%;
  background-color: #6e00ff;
  color: #fff;
  padding: 1.3rem;
}
.chat_text_area button {
  padding: 1.3rem;
}
.emoji {
  display: flex;
  justify-content: center;
  z-index: -1;
}
.user_message ul li {
  list-style-type: none;
  padding: 0 1rem;
  background-color: #6e00ff;
  color: #fff;
  font-size: 1.5rem;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.user_message ul {
  width: 60%;
  overflow-wrap: break-word;
  word-break: break-all;
  margin-top: 4rem;
  position: relative;
  top: 3rem;
  z-index: 1;
}
.right_chat ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.right_chat ul li img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}
.user_profile_header {
  position: fixed;
  background-color: #6e00ff;
  width: 600px;
  color: #fff;
  margin-top: 0.5rem;
  z-index: 2;
  border-radius: 10px;
}
@media screen and (max-width: 1300px) {
  .chat_text_area input {
    width: 60%;
  }
}
@media screen and (max-width: 1158px) {
  .user_profile_header,
  .chat_text_area {
    width: 400px;
  }
}
@media screen and (max-width: 940px) {
  .user_profile_header,
  .chat_text_area {
    width: 330px;
  }
}
@media screen and (max-width: 900px) {
  .single_chat {
    grid-template-columns: 20rem 1fr;
  }
  .user_profile_header,
  .chat_text_area {
    width: 600px;
  }
  .chat_text_area input {
    width: 80%;
  }
  .right_chat ul li img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }
  .single_chat .left_chat {
    display: none;
  }
}
@media screen and (max-width: 815px) {
  .user_profile_header {
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  .chat_text_area {
    width: 100%;
    background-color: #6e00ff;
    padding: 0px 15px 0px 0px;
    gap: 5px;
  }
  .chat_text_area input {
    width: 70%;
    font-size: 16px;
  }
  .user_profile_header li {
    margin-left: -2rem;
  }
  .user_profile_header {
    width: 100%;
    border-radius: 0px;
    margin-top: 0px;
  }
  .chat_text_area button {
    background-color: #fff;
    color: #6e00ff;
  }
}
