.social_app {
  height: 100vh;
}
.social_app .social_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  padding: 1rem 2rem;
  color: #6e00ff;
  width: 400px;
  border-radius: 10px;
}
.social_container ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: -2rem;
}
.social_container ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social_container ul li a:visited {
  color: #6e00ff;
}
.social_container ul li a b {
  font-size: 1.2rem;
}
@media screen and (max-width: 650px) {
  .social_app .social_container {
    box-shadow: none;
    padding: 1rem;
  }
}
